.form-group{
    margin: 10px 0;
}

.form-group input, textarea{
    width: 50%;
    height: 37px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

label{
    display: block;
    font-weight: 400;
    padding-bottom: 5px;
    text-transform: capitalize;
    font-family: monospace;
    font-size: 16px;
}

.text-height{
    height: 150px;
}

.block-post{
    background-color: #fff;
    box-shadow: 1px 0px 8px 1px #ccc;
    border-radius: 10px;
    padding: 15px;
    margin: 30px auto;
    width: 50%;
}


.block-post h3{
    font-size: 25px;
    text-transform: uppercase;
}

.add_post button {
    background-color: #ccc;
    padding: 16px;
    color: #000;
    font-weight: 600;
    font-size: 15px;
}

.add_post button.remove {
    background-color: #bc3333;
    padding: 8px;
    color: #f5f5f5;
    font-weight: 600;
    font-size: 12px;
}